h1{
    color: black;
    font-size: 50px;
}
body{
    margin: 0%;
    margin-right: 0%;
}
.top-banner{
    background-image: url(image.jpg/png\ lokta.png);
    background-repeat: no-repeat;
}
span{
    color: coral;
}
div{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font: 100; 
}
.half image{
    width: 300%;
    padding-top: 10%;
}
.half{
     width: 100%;
     padding-left: 0%;
     margin-top: 5%;
     image-rendering: pixelated;
 }



h2{
    font-size: 30px;
}

.Pro-level{
    display: flex;
    padding-left: 60px;
    padding-right: 30px;
    padding-top: 60px;
    margin-bottom: 2px;
}
.right-banner{
    background-image: url(image.jpg/half\ circle\ .png);
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 0%;
}


.half-talk{
    text-decoration: none;
    font-weight: 700;
    color: black;
    background-color: yellowgreen;
    padding: 10px 40px;
    border-radius: 10px;
    padding: 20%
    background-image linear-gradient(orange tomato);
}