h1{
    color: black;
    font-size: 50px;
}
span{
    color: coral;
}
div{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font: 100; 
}
.half image{
    width: 300%;
    padding-top: 10%;
}
.half-talk{
    text-decoration: none;
    background-color: yellowgreen;
    padding: 20%
    background-image: linear-gradient(orange tomato);
    padding: 10px 40px;
    color: black;
    font-weight: 700;
    border-radius: 10px;


}

 .half{
     width: 100%;
     padding-left: 0%;
     margin-top: 5%;
     image-rendering: pixelated;
 }


h2{
    font-size: 30px;
}
section{
    display: flex;
    padding-left: 60px;
}